@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer.material-icons{
        display: none;
    }
    menu#itens{
        display: block;
    }

    menu>ul>li{
        display: inline-block;
    }

    main{
        width: 800px;
    }
}