@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F2E5A0, #BFF272);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(217, 62, 48, 0.575);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #D93E30;
    text-align: center;
    text-shadow: 1px 1px 2px #cf3b2e8f;
}
h2{
    color: #D9923B;
}
p{
    text-align: justify;
}